/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: khaki;
}

.nav-link {
    color: khaki;
}

.bg-opacity-green {
    background: rgba(0, 100, 0, 0.7);
}

.bg-opacity-green-footer {
    background: rgba(0, 100, 0, 0.9);
}

.text-khaki {
    color: khaki;
}

#stickyheader {
    position: fixed;
    top: 0;
    width: 100%;
}

#stickyfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Provide sufficient contrast against white background */
a {
    color: darkgoldenrod;
}

.btn-primary {
    background: linear-gradient(darkgreen, lightgreen);
    color: khaki;
    height: 3em;
    display: inline;
    box-sizing: border-box;
    border-color: khaki;
}

.myborderbox {
    display: inline-block;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: khaki;
    background: darkgreen;
    border-color: goldenrod;
}

.nav-item {
    padding-left: 30px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    margin-top: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Brush Script MT', cursive;
    text-align: center;
}

logo {
    padding-left: 50px;
}

.content {
    text-align: center;
}
#FrontPageFont {
    font-family: 'Garamond';
    color: darkkhaki;
    font-size: 50px;
    max-width: 100%;
    height: auto;
    text-align: center;
}

fieldset {
    display: block;
    font-weight: bold;
    border: 1px solid grey !important;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 20px;
    background: khaki;
}

#fieldsetMargin {
    margin-bottom: 40px;
}

fieldset legend {
    display: block;
    font-size: medium;
    margin: 15px;
    color: black;
    border-color: goldenrod;
    padding-top: 12px;
}

.myfieldset {
    display: block;
    border: 1px solid grey !important;
    font-weight: bold;
    width: 6em;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
}

.mylegend {
    display: block;
    font-size: small;
    margin: 10px;
}


.mytable {
    border-style: none;
    font-family: Arial, sans-serif;
    padding: 0;
}

.buttontable table, td, tr {
    text-align: left;
    margin-bottom: 12px;
}

.mytable td, thead, tbody, tr, th {
    text-align: center;
    height: auto;
    font-size: small;
    color: darkgreen;
}

.mytable body {
    min-width: 100%;
}

table {
    text-align: left;
}

.tablekitchen fieldset legend{
    font-size: 24px;
}
#tablekitchen table, thead, th, td, tr {
    font-size: 22px;
    width: auto;
    height: auto;
}

th {
    font-weight: normal;
    text-align: right;
    vertical-align: bottom;
}

td, th {
    padding-bottom: 10px;
}

td {
    width: 10em;
}

select {
    font-size: small;
}

label {
    margin-bottom: 0;
}

.redtext {
    color: firebrick;
}

.mybutton {
    padding: 4px;
    padding-bottom: 1px;
    height: 4em;
    font-size: 11px;
    font-weight: bold;
    box-sizing: border-box;
    color: khaki;
    border-color: khaki;
    min-width: 12em;
    border-radius: 7px;
    background: linear-gradient(darkgreen, lightgreen);
}

.green_button {
    background: linear-gradient(darkgreen, lightgreen);
}

.red_button {
    background: linear-gradient(darkred, lightcoral);
}

.yellow_button {
    background: linear-gradient(orange, yellow);
    color: darkgreen;
}

#mybuttonstyle {
    text-align: center;
    height: 3em;
    padding-top: 5px;
    padding-bottom: 0;
    border-radius: .25rem;
}

#CompanyColor {
    color: khaki;
    background: darkgreen;
}

#CheckoutColor {
    color: firebrick;
    font-weight: bold;
    
}

.CheckinColor{
    color: darkgreen;
    font-weight: bolder;
}
#CheckinColor {
    color: darkgreen;
}

.table td, thead, tbody, tr, th{
    text-align: center;
    max-width: 100%;
    height: auto;
}

.table tbody {
    padding: 2px;
}


.GeneralRepsonsive {
    max-width: 100%;
    height: auto;
}

fieldset {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 80px;
    max-width: 100%;
    min-height: auto;
    font-size: 25px;
}
#CenterAlignKitchenStaffView {
    text-align: center;
}

.mylabel {
    font-weight: bold;
}

.centerTextBold {
    margin-left: 30px;
    font-weight: bold;
    font-size: medium;
    text-align: left;
}

.dashed {
    border-bottom: 3px dashed #bbb;
}

.myimg {
    padding: 5px;
}

.opacity_img {
    box-shadow: none;
    transition: opacity 0.5s;
}

    .opacity_img:hover {
        cursor: pointer;
        box-shadow: 5px 0px 10px rgba(52, 112, 50, 1);
        transition: opacity 0.5s;
    }

#my_a:hover {
    color: #ffc107 !important;
}

.max-width-img {
    max-width: 30em;
}

.mywarning {
    font-size: small;
    color: red;
}

.bigbutton {
    width: 15em;
}

.mediumbutton {
    font-size: medium;
    width: 10em;
}