@model CasinoRoyal.Data.Entity.HotelRoom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HotelRoom</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HotelRoomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
