@{
    ViewData["Title"] = "Home Page";

}

<div class="content">
    <p id="FrontPageFont">Welcome to</p>
    
    <img src="~/Images/logo.png" class="GeneralRepsonsive"/>
    
    <br/>
    <br/>
    <div>
        <button class="mybutton" asp-area="Identity" asp-page="/Account/Login">Login</button>
        <button class="mybutton" asp-area="Identity" asp-page="/Account/Register">Register</button>
    </div>
        
    

</div>
