@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <p id="FrontPageFont">Welcome to</p>

    <img src="~/Images/logo.png" class="GeneralRepsonsive max-width-img"/>

    <br />
    <br />

    <div class="container">
        <a asp-area="Identity" asp-page="/Account/Login">
            <button class="mybutton">Login</button>
        </a>
        <a asp-area="Identity" asp-page="/Account/Register">
            <button class="mybutton">Register</button>
        </a>
    </div>
</div>
